// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$primary-color: #bcff00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$blue-color: #00bcff;
$dark-blue: #202029;
$red-color: #ff00bc;
$light-green: rgb(180, 255, 224);
$dark-color: #333;
$bg-image: url("../img/background/P50520-202802.jpg");
